* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Helvetica;
    font-size: 22px;
}

/*********styling for the header that contian the logo and nav bar*****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
    
}

header ul li{
    display: inline-block;
    padding: 10px;
}

header ul li a{
    padding: 10px;
    color: white;
}
header img{
    width: 14%;
    margin: 5px 10px;
    
}
/**************adjust the main content from the top*********/
main{
    position: relative;
    top: 75px;
}
/********* stying for the background photo up and its contents**********/

.uppicture{
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: auto;
}

.uppercontent{
    background-color: black;
    position: relative;
    top: 300px;
    text-align: center;
    padding: 10px 0px;
    line-height: 60px;
    
}
.uppercontent h2, .teaMonth h2{
 font-size: 30px;
}

/********** styling for section1 and its content*********/

#section1{
    width: 75%;
    margin: auto;
    text-align: center;
    
}

.fallBerry, .spicedTea, .seasonDonut{
    width: 32%;
    float: left;
    padding: 0px 10px 0px 5px;
    margin-left: 5px;
}
.fallBerry img, .spicedTea img, .seasonDonut img{
    width: 100%;
}

.fallBerry p,
 .spicedTea p, 
 .seasonDonut p,
 .bedfordTea p,
 .myrtleAve p
  {
    padding: 20px 0px;
    font-weight: bold;
}

.teaMonth{
line-height: 50px;
padding: 60px 10px 20px 10px;
;
}
.teaMonth h1{
    font-size: 40px;
}
/*********** styling for section 2 and its elements********/
#section2{
    width: 50%;
    margin: auto;
    clear: both;
    text-align: center;

}

.bedfordTea, .myrtleAve{
    width: 50%;
    float: left;
    padding: 0px 15px;
}

.bedfordTea img, .myrtleAve img{
    width: 100%;
}


.clear{
    clear: both;
}

/***********styling for section 3 and its elements***********/

#section3{
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: auto;
    opacity: 0.8;
    
}

.location1{
    background-color: black;
    width: 26%;
    line-height: 60px;
    text-align: center;
    padding: 10px 5px;
    float: left;
    margin-left: 60px;

}
#section3 h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 70px;
}
.location1 p{
width: 100%;
}


}
/********* styling for the contac part below the pagebefore the footer***********/

.contact {
    text-align: center;
    line-height: 60px ;
    width: 50%;
    margin: auto;
    background-color: chartreuse;
    
}


.footer{
    font-size: 25px;
    text-align: center;
    color: chartreuse;
}





/***********@media qurey for tablet********/

@media screen and (max-width: 951px)  {
    
    .location1{
        background-color:black;
        width: 100%;
        line-height: 60px;
        text-align: center;
        padding: 10px 5px;
        float: left;
        margin: auto;
        border-bottom: 2px solid white;
    }

    .blackbox{
        width: 80%;
        margin: auto;
    }

    .contact{
        text-align: center;
        line-height: 40px ;
        width: 50%;
        margin: auto;
    }

    .footer{
        font-size: 15px;
        text-align: center;
    }
}


/***********media qurey for the phone size**********/

@media screen and (max-width: 499px ){
    .fallBerry, .spicedTea, .seasonDonut, .bedfordTea, .myrtleAve{
        width: 100%;
        padding: 0px 0px 0px 0px;
        margin-left: 0px;
    }


    #section1, #section2{
        width: 100%;
        margin: auto;
       
    }

    .location1{
        background-color: black;
        width: 100%;
        line-height: 60px;
        text-align: center;
        padding: 10px 5px;
        float: left;
        margin-left: 0px;
        border-bottom: 2px solid white;
    }

    .contact{
        text-align: center;
        line-height: 40px ;
        width: 50%;
        margin: auto;
    }

    .footer{
        font-size: 15px;
        text-align: center;
    }


}
